@import url("http://fonts.googleapis.com/css?family=Open+Sans:300");

dark-grey = #444444;
background = #d9d8e0;
outline = #efeef5
black = #252525
white = #ffffff
green = #5ed74e
red = #ff4040

fonts = "Open Sans", helvetica;

* {
 box-sizing: border-box;
}
body, html {
 height: 100%;
}

h1, h2, h3, h4, h5, h6 {
 margin: 0;
 margin-bottom: 1rem;
}

body {
 margin 0;
 font-family: fonts
 background: dark-grey;
 color: black;
}

.hide {
 display: none;
}

.app {
 min-height : 100%;
 height : inherit;
 max-width: 400px;
 margin: auto;
 background: background;
 position: relative;
}

.button-group {
  position: absolute;
  bottom : 20px;

}

.svg{
 width: 100%;
 pointer-events: none;
}

.inline {
 display: inline;
}

a {
 cursor: pointer;
}
// Add components
@import 'components/question';
@import 'components/work';
@import 'components/ps-frontpage';
@import 'components/round-button';
