ps-size = 20px
.ps-frontpage {
 h1, h2 {
  text-align: center;
  font-weight: lighter;
 }
 h1 {
  width: 160px;
  padding: 20px 0;
  margin: auto;
 }
 h2 {
  margin: 20px;
  font-size: 1.2em;
 }
 .nextpage {
  margin: auto;
 }
 header {
  background-color: white;
  img {
   width: 100%;
  }
 }
}
