
.question--group {
  width: 320px;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 400px;
  button {
    background-color: dark-grey;
    width: 100%;
    margin: 10px auto;
  }
}

.admin .question {
  position: inherit;
}

.question {
  height: 315px;
  transition: top 200ms ease-out;
  box-sizing: border-box;
  position: absolute;
  top: -150%;
  width: 80%;
  padding: 20px;
  background-color: #f0f0f0;
  z-index: 2;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px 10%;
  box-shadow: 1px 1px 6px #666;
  svg, img {
    max-width 100%;
    max-height 200px;
    display block;
    margin auto;
    pointer-events: none
  }

  .current & {
    top: 0;
    left: 0;
    display block;

    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
  }
  h2 {
    text-align: center
    font-size: 1.4rem;
    line-height: 1;
    font-weight: lighter;
  }
}

.button-group {
  display: none;
  .current & {
    display: block;
  }
  position: absolute;
  top: 315px;
  width: 80%;
  margin: 0 10%;
  .round-button:first-child {
    float: left;
  }
  .round-button:last-child {
    float: right;
  }
  text-align: center;
  .round-button {
    display: inline-block;
    margin: 20px;
  }
}

.inliner {
  font-size: 1rem;
  display: block;
  text-align: center;
  object {
    display: inline;
    width: 35px;
    vertical-align: middle;
  }
}

.swiper-button {
  display: block;
  position: relative;
  background-color: #88b7d5;
  margin: 20px;
  padding: 10px;
  position: relative;
  &.left {
    right: -12px;
    border-radius: 0 5px 5px 0;
  }
  &.right {
    right: 12px;
    border-radius: 5px 0 0 5px;
  }
}

.swiper-button:after {
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-width: 25px;
  margin-top: -25px;
  border-radius: 5px;
}

.swiper-button.left:after {
  right: 100%;
  border-right-color: #88b7d5;
}

.swiper-button.right:after {
  left: 100%;
  border-left-color: #88b7d5;
}
