btnsize = 60px

.round-button {
 position: relative;
 cursor: pointer;
 display: block;
height: btnsize;
width: btnsize;
border: (btnsize/10) solid outline;
border-radius: (btnsize/2);
box-shadow: 1px 1px 5px #555;
background-color: white;
transition: all 100ms ease-in;
 object {
   width: 100%
   padding 10px;
 }
 &:hover, &:active {
  border-color: rgb(84, 84, 84);

 }
 &:active {
  border-color: rgb(84, 84, 84);
  box-shadow: none;
 }
 &::after {
 display: block;
 position: absolute;
 top: 0;
 width: btnsize;
 height: btnsize;
 border-radius: (btnsize/2);
 margin: -(btnsize/10);
 content: "";
}
}
.arrow {
  fill: green;
}
.arrow-black {
  fill: black;
}
.checkmark {
  fill: green;
}
.close {
 fill: red;
 &::hover{
  fill: rgb(84, 84, 84);
 }
}
