.Work {
 padding: 10px;
 border: 1px solid #e7e8e9;
 background-color: #fff;
 margin-bottom: 10px;
 border-radius: 5px;
 img {
  max-width: 100%;
 }
  h2{
   font-size: 1rem;
   margin-bottom 0;
  }
  .title{
   margin-left 10px;
   max-width 260px;
   display inline-block;
   vertical-align top;
  }
}

 .frontpage {
  width 80px;
  display: inline-block;
 }

.searchresult {
 background-color #d9d8e0;
 padding 20px 10px
 h1 {
  text-align center;
 }
}