.Work {
 padding: 10px;
 border: 1px solid #e7e8e9;
 background-color: #fff;
 margin-bottom: 10px;
 border-radius: 5px;
 img {
  max-width: 100%;
 }
  h2{
   font-size: 1rem;
   margin-bottom 0;
  }
  .title{
   margin-left 10px;
   max-width 260px;
   display inline-block;
   vertical-align top;
  }
}

 .frontpage {
  width 80px;
  display: inline-block;
 }

.searchresult {
 background-color #d9d8e0;
 padding 20px 10px
 h1 {
  text-align center;
  margin 20px 0;
 }
}

.close-button {
 content: 'x';
 font-weight: bold;
 text-decoration: none;
 border: 2px solid;
 display: inline-block;
 width: 26px;
 height: 26px;
 text-align: center;
 padding: 0;
 border-radius: 13px;
 line-height: 18px;
 font-size: 20px;
 position: absolute;
 right: 20px;
 top: 20px;
}